main {
  max-width: 500px;
  margin: 0 auto;
}
label {
  font-weight: bold;
  width: 120px;
}
form,
fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
form div {
  display: flex;
}
form div > :nth-child(2) {
  flex: 1;
}
textarea {
  resize: none;
}
form > fieldset:nth-child(3) {
  display: inline;
}
ul {
  display: flex;
  column-gap: 10px;
  list-style-type: none;
  justify-content: center;
}
ul,
li {
  padding: 0;
  margin: 0;
}
