* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav {
  position: fixed;
  background-color: whitesmoke;
  height: calc(100vh - 80px);
  /* 패딩값30과헤더가50이라서80을 뺐다. */
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  left: 0;
  top: 50px;
  /* header가 50이라서 내림 */
}

nav button {
  height: 50px;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

ul.btns {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

ul.btns button {
  background-color: aliceblue;
}

div.txts {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

ul.sm {
  padding: 10px 0;
  background-color: lightgray;
}

ul.sm button {
  height: auto;
  font-size: 10px;
  color: gray;
  font-weight: unset;
}
