* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#main {
  width: 1000px;
}
.section {
  width: 400px;
}
.section.box2 {
  width: 100%;
}
.text1 {
  margin-left: 50px;
  /* padding-left: 50px;은 옆에까지태그의 영역이라서 호버같은거 사용할때X */
}
.text2 {
  width: 400px;
  margin-left: 490px;
}
