* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
div.login {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  width: 300px;
  margin: 0 auto;
}
ul.btns {
  display: flex;
  justify-content: center;
  column-gap: 14px;
}
ul button {
  border: none;
  background-color: transparent;
}
button.naver {
  color: white;
  background-color: green;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}
.login p {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.login ul button {
  background-color: transparent;
  font-size: 12px;
}

.login_modal .inputs {
  display: flex;
  flex-direction: column;
}
.login_modal .inputs input {
  height: 40px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.login_modal .inputs :first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.login_modal .inputs :last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login_modal .check {
  display: flex;
  column-gap: 5px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.login_modal.flex {
  row-gap: 20px;
  display: none;
}

.login_modal form.flex {
  row-gap: 10px;
}
.login_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: white;
  z-index: 100;
}
