* {
  padding: 0;
  margin: 0;
}
form {
  text-align: center;
  width: 300px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
ul button {
  background-color: transparent;
}
ul button:hover {
  color: rgb(68, 190, 68);
}

fieldset {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
div {
  display: flex;
  flex-direction: column;
}
div > input {
  height: 50px;
  padding: 0 10px;
}
div > label {
  font-size: 12px;
  text-align: left;
}
fieldset > input {
  height: 50px;
  border-radius: 8px;
  background-color: green;
  color: white;
}
/* 태그> 안에태그 */
.input {
}
.input.email input {
  border: 1px solid lightgray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.input.pw input {
  border: 1px solid lightgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
